.html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.header{
    
    background-color: #1F2937;
    font-family: "Roboto";
    font-size: 30px;
    color: #f9faf8;
    font-weight: 900;
    padding-bottom: 50px;


}
.navbar{
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: flex-start ;
}
.links{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    
    padding:25px

    
  
}
.main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.picturemain{
    display: flex;
    justify-content:end;  
   
}
.secondary{
    margin-bottom: 50px;
}
.h2text{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.secondimages{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.secondtexts{
    display: flex;
    justify-content: center;
    gap:12px;
}
.thirdsection{
    background-color: #E5E7EB;
}
.thirdtext{
    font-size: 20px;
    font-style: italic;
    color:#1F2937;
    font-weight: 300;
    text-align: center;
    padding:8px 20%;
}
.thirdauthor{
    display: flex;
    justify-content: center;

}